
<div align="center">

    <h2 style="font-size: 30px; border-style: solid; border-color: rgb(223, 11, 11); color:rgb(10, 9, 9); background-color: rgb(12, 12, 12); color: red;">

    <a href="#">GO TO HOME<i class="fa-sharp fa-solid fa-house-user"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="tel:918004195370">CALL US<i class="fa-sharp fa-solid fa-headset"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:prakhar.gupta7512@gmail.com">MAIL US<i class="fa-sharp fa-solid fa-square-envelope"></i></a> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">FOLLOW US ON</a><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-square-youtube"></i>

    </h2>

</div>


<h1 align="center"> <marquee bgcolor="Red"  direction="right">EMPLOYEE MANAGEMENT SYSTEM</marquee> </h1>



<table bgcolor="Wheat" align="center" bordercolor="blue" border="3">

    <tr>
        <td>
<app-insert></app-insert>

<app-update></app-update>
</td>

<td>
<app-delete></app-delete>


<br> <br> <br> <br>
<app-view></app-view>
</td>
</tr>
</table>

<h3 align="center" style="font-size: 30px; border-style: solid; border-color: rgb(223, 11, 11); color:rgb(10, 9, 9); background-color: rgb(12, 12, 12); color: red;">©&nbsp; Copy Right ,&nbsp; 2022 -&nbsp; EMS.  &nbsp; All Rights Reserved.</h3>
